// Mixins

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin box-shadow($color: $gray-1) {
  box-shadow: 0px 2px 0px $color;
}

@mixin button($bg-color) {
  font-size: 20px;
  width: 100%;
  border-radius: 4px;
  padding: 8px 5px;
  background: $bg-color;
  color: $white;
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;

  @include box-shadow(darken($bg-color, 20%));

  &:hover {
    background: darken($bg-color, 25%);
  }

  &:active {
    background: darken($bg-color, 25%);
  }
}

// Colors

$primary: #474a58;
$secondary: #58b1e0;

$text-color: #6f6f6f;
$white: #ffffff;
$gray-1: #bbbbbb;
$gray-2: #eaeaea;
